
.container{
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    z-index: 0;
}

.item1{
    display: flex;
    justify-content: space-between;
    color: tomato;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left>h1{
    font-size: 2.5rem;
    font-family: 'Cantarell', sans-serif;
}
.left>span{
    font-size:2.5rem;
    color: gray;
    font-family: 'Cantarell', sans-serif;
}
.right{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.right>span{
    font-size: 1.5rem;
    font-family: 'Cantarell', sans-serif;
}
#add-icon{
    transform: scale(1.5);
}
#add-icon:hover{
    cursor: pointer;
    transform: scale(1.6);

}

.item2{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 15px;
   
}

.dailog{
    font-family: 'Cantarell', sans-serif;
    color: tomato;
     display: none;
     flex-flow: column;
     gap: 10px;
     justify-content: center;
     width: 450px;
     border-radius: 20px;
    align-items: center;
    position:absolute;
    top: 40vh;
    left: 35%;
    background-color: white;
    border: 2px solid tomato;
    text-align: center;
    box-shadow: 0 0 5px gray;
    z-index: 1;
}
.dailogforlist{
    font-family: 'Cantarell', sans-serif;
    color: tomato;
     display: none;
     flex-flow: column;
     gap: 10px;
     justify-content: center;
     width: 450px;
     border-radius: 20px;
    align-items: center;
    position:absolute;
    top: 40vh;
    left: 35%;
    background-color: white;
    border: 2px solid tomato;
    text-align: center;
    box-shadow: 0 0 5px gray;
    z-index: 1;
}


#list-input{
    height: 30px;
    width: 270px;
    border-radius: 5px;
    text-align: center;
}
#addbtn{
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: 70px;
    height: 30px;
}

#addlist{
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: 70px;
    height: 30px;
}

#addlist:hover{
    cursor: pointer;
}
#addbtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px gray;
    
}
#cancelbtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}
#cancelbtn{
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    width: 70px;
    height: 30px;
}

.card{
   
    width: 200px;
    height: 300px;
    border: 2px solid tomato;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 0 4px gray;
}

.card>.action-btns{
    color: tomato;
     margin-right: 20px;
    position: relative;
    /* bottom: -190px; */
    right: -70px;
}

.card>.action-btns:hover{
    cursor: pointer;
}
.card>hr{
    display: flex;
    flex-flow: row;
    position: relative;
    left: 10px;
    width: 180px;
}
#empty{
    position: absolute;
    color: gray;
    margin: auto;
    top: 50%;
    width: 95%;
    opacity: 50%;
    text-align: center;
}
list{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
     gap: 10px;
    align-items: center;
    height: fit-content;
}
#markbtn{
    color: white;
    font-size: 12px;
    background-color: steelblue;
    border-radius: 20px;
    height:30px;
    border: none;
}

@media (min-width:300px) and (max-width:460px){
 
    .right>span{
        display: none;
    }

    .dailog{
        font-family: 'Cantarell', sans-serif;
        color: tomato;
         display: none;
         flex-flow: column;
         gap: 10px;
         justify-content: center;
         width: 300px;
         margin: auto;
         border-radius: 20px;
        align-items: center;
        position:absolute;
        top: 40vh;
        left: 35px;
        background-color: white;
        border: 2px solid tomato;
        text-align: center;
        box-shadow: 0 0 5px gray;
        z-index: 1;
    }

    .dailogforlist{
        font-family: 'Cantarell', sans-serif;
        color: tomato;
         display: none;
         flex-flow: column;
         gap: 10px;
         justify-content: center;
         width: 300px;
         border-radius: 20px;
        align-items: center;
        position:absolute;
        margin: auto;
        top: 40vh;
        left: 35px;
        background-color: white;
        border: 2px solid tomato;
        text-align: center;
        box-shadow: 0 0 5px gray;
        z-index: 1;
    }

    .item2{
        display: flex;
        flex-flow: column;
         margin: auto;

        margin-top: 15px;
       
    }
}